Timer.CRM/Arvato.CRM.CommunicateEngine/Service References/TimerSMSWebService/SmsWebServiceSenderService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://webservice.qxt.ipi.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="SmsWebServiceSenderService" targetNamespace="http://webservice.qxt.ipi.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://120.209.139.138:8090/SmsSdkServer/SmsWebServiceSender?xsd=1" namespace="http://webservice.qxt.ipi.com/" />
    </xsd:schema>
  </types>
  <message name="queryStatusReport">
    <part name="parameters" element="tns:queryStatusReport" />
  </message>
  <message name="queryStatusReportResponse">
    <part name="parameters" element="tns:queryStatusReportResponse" />
  </message>
  <message name="userLogin">
    <part name="parameters" element="tns:userLogin" />
  </message>
  <message name="userLoginResponse">
    <part name="parameters" element="tns:userLoginResponse" />
  </message>
  <message name="sendTemplateMsg">
    <part name="parameters" element="tns:sendTemplateMsg" />
  </message>
  <message name="sendTemplateMsgResponse">
    <part name="parameters" element="tns:sendTemplateMsgResponse" />
  </message>
  <message name="receiveSm">
    <part name="parameters" element="tns:receiveSm" />
  </message>
  <message name="receiveSmResponse">
    <part name="parameters" element="tns:receiveSmResponse" />
  </message>
  <message name="sendSms">
    <part name="parameters" element="tns:sendSms" />
  </message>
  <message name="sendSmsResponse">
    <part name="parameters" element="tns:sendSmsResponse" />
  </message>
  <portType name="SmsWebServiceSenderDelegate">
    <operation name="queryStatusReport">
      <input wsam:Action="http://webservice.qxt.ipi.com/SmsWebServiceSenderDelegate/queryStatusReportRequest" message="tns:queryStatusReport" />
      <output wsam:Action="http://webservice.qxt.ipi.com/SmsWebServiceSenderDelegate/queryStatusReportResponse" message="tns:queryStatusReportResponse" />
    </operation>
    <operation name="userLogin">
      <input wsam:Action="http://webservice.qxt.ipi.com/SmsWebServiceSenderDelegate/userLoginRequest" message="tns:userLogin" />
      <output wsam:Action="http://webservice.qxt.ipi.com/SmsWebServiceSenderDelegate/userLoginResponse" message="tns:userLoginResponse" />
    </operation>
    <operation name="sendTemplateMsg">
      <input wsam:Action="http://webservice.qxt.ipi.com/SmsWebServiceSenderDelegate/sendTemplateMsgRequest" message="tns:sendTemplateMsg" />
      <output wsam:Action="http://webservice.qxt.ipi.com/SmsWebServiceSenderDelegate/sendTemplateMsgResponse" message="tns:sendTemplateMsgResponse" />
    </operation>
    <operation name="receiveSm">
      <input wsam:Action="http://webservice.qxt.ipi.com/SmsWebServiceSenderDelegate/receiveSmRequest" message="tns:receiveSm" />
      <output wsam:Action="http://webservice.qxt.ipi.com/SmsWebServiceSenderDelegate/receiveSmResponse" message="tns:receiveSmResponse" />
    </operation>
    <operation name="sendSms">
      <input wsam:Action="http://webservice.qxt.ipi.com/SmsWebServiceSenderDelegate/sendSmsRequest" message="tns:sendSms" />
      <output wsam:Action="http://webservice.qxt.ipi.com/SmsWebServiceSenderDelegate/sendSmsResponse" message="tns:sendSmsResponse" />
    </operation>
  </portType>
  <binding name="SmsWebServiceSenderBinding" type="tns:SmsWebServiceSenderDelegate">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="queryStatusReport">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="userLogin">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="sendTemplateMsg">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="receiveSm">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="sendSms">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="SmsWebServiceSenderService">
    <port name="SmsWebServiceSender" binding="tns:SmsWebServiceSenderBinding">
      <soap:address location="http://120.209.139.138:8090/SmsSdkServer/SmsWebServiceSender" />
    </port>
  </service>
</definitions>